.jumbotron{
    color: #fff;
    background-color: #800000;
}

.btn-primary{
    background-color: #800000;
    border-color: #fff;
    font-weight:bold;
}
#card-header{
    background-color: #800000;
}